@model HRMS.Models.Attendance
@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Attendance <span style="font-size: 14px; color: #A9A9A9;">Mark Attendance</span></h2>
@using (Html.BeginForm("MarkAttendance", "Admin", FormMethod.Post))
{
    <div class="row">
        <input style="margin-left: 20px;" type="Date"  name="Date" onchange="onDateChanged(this.value)" value="
       @ViewBag.Attendances[0].Date.Year-@(ViewBag.Attendances[0].Date.Month.ToString().Length < 2 ? ViewBag.Attendances[0].Date.Month.ToString().PadLeft(2, '0') : ViewBag.Attendances[0].Date.Month.ToString())-@(ViewBag.Attendances[0].Date.Day.ToString().Length < 2 ? ViewBag.Attendances[0].Date.Day.ToString().PadLeft(2, '0') : ViewBag.Attendances[0].Date.Day.ToString())" max="@DateTime.Now" class="form-control col-md-4" />

        <button style="margin-left: 20px;" type="button" onclick="onTodayClicked()" class="btn btn-success col-md-3"><i class="fa fa-check"></i> Today's Attendance</button>
    </div>
    <br/>
    <div class="card">
        <div class="card-header"><h6>Employees List</h6></div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0;}
                    @foreach (var attendance in ViewBag.Attendances)
                    {
                        <input type="hidden" name="[@i].ID" value="@attendance.ID" />
                        <input type="hidden" name="[@i].EmployeeID" value="@attendance.Employees.EmployeeID" />
                        <input type="hidden" id="dates" name="[@i].Date" value="@attendance.Date.Year-@(attendance.Date.Month.ToString().Length < 2 ? attendance.Date.Month.ToString().PadLeft(2, '0') : attendance.Date.Month.ToString())-@(attendance.Date.Day.ToString().Length < 2 ? attendance.Date.Day.ToString().PadLeft(2, '0') : attendance.Date.Day.ToString())" />
                        <tr>
                            <td>@attendance.Employees.EmployeeID</td>
                            <td><img src="~/Content/EmployeePictures/@attendance.Employees.ImageUrl" width="80px" height="80px" /></td>
                            <td>@attendance.Employees.Name</td>
                            <td>
                                @attendance.Employees.Departments.Title
                            </td>
                            <td><input type="checkbox" value="True" name="[@i].Status" @(attendance.Status ? "checked" : "") /></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <div class="row" align="center">
                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Mark Attendance</button>
            </div>
        </div>
    </div>
}
<script>
    function onDateChanged(value) {
        window.location.href = "/admin/attendance/" + value;
    }
    function onTodayClicked() {
        var current_datetime = new Date();
        window.location.href = "/admin/attendance/" + current_datetime.getDate() + "-" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getFullYear();
    }
</script>