
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Dashboard <span style="font-size: 14px; color: #A9A9A9;">Reports & Statistics</span></h2>
<div class="row">
    <div style="margin: 0px 20px 0px 20px" class="col-md-3 card bg-info text-light">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <i style="padding-top: 10px;font-size: 80px;" class="fa fa-users"></i>
                </div>
                <div align="right" style="padding-top: 20px;" class="col-md-6 text-right">
                    <p class="announcement-heading">@ViewBag.Employees</p>
                    <p class="announcement-text">Employees</p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0px 20px 0px 20px" class="col-md-3 card bg-danger text-light">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <i style="padding-top: 10px;font-size: 80px;" class="fa fa-building"></i>
                </div>
                <div align="right" style="padding-top: 20px;" class="col-md-6 text-right">
                    <p class="announcement-heading">@ViewBag.Departments</p>
                    <p class="announcement-text">Departments</p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0px 20px 0px 20px" class="col-md-3 card bg-success text-light">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <i style="padding-top: 10px;font-size: 80px;" class="fa fa-trophy"></i>
                </div>
                <div align="right" style="padding-top: 20px;" class="col-md-6 text-right">
                    <p class="announcement-heading">@ViewBag.Awards</p>
                    <p class="announcement-text">Awards</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="card">
    <div class="card-header"><h4>Absent Employees Today</h4></div>
    <div class="card-body">
        <ul class="list-group">
            @foreach (var attendance in ViewBag.Attendance)
            {
                <li style="margin-bottom: 10px;" class="list-group-item"><span>@attendance.Employees.EmployeeID</span> : @attendance.Employees.Name</li>
            }
        </ul>
    </div>
</div>
