
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>

<body style="padding-top: 0px; padding-bottom: 0px;">

    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-dark border-right" id="sidebar-wrapper">
            <div class="sidebar-heading text-light">Admin</div>
            <div class="list-group list-group-flush">
                @Html.ActionLink("Dashboard", "Index", "Admin", new { area = "" }, new { @class = "list-group-item list-group-item-action bg-dark text-light" })

                @Html.ActionLink("Employees", "Employees", "Admin", new { area = "" }, new { @class = "list-group-item list-group-item-action bg-dark text-light" })

                @Html.ActionLink("Departments", "Departments", "Admin", new { area = "" }, new { @class = "list-group-item list-group-item-action bg-dark text-light" })

                @* @Html.ActionLink("Awards", "Awards", "Admin", new { area = "" }, new { @class = "list-group-item list-group-item-action bg-dark text-light" }) *@
                @* *@
                @* @Html.ActionLink("Expenses", "Expenses", "Admin", new { area = "" }, new { @class = "list-group-item list-group-item-action bg-dark text-light" }) *@
                @* *@
                @* @Html.ActionLink("Holidays", "Holidays", "Admin", new { area = "" }, new { @class = "list-group-item list-group-item-action bg-dark text-light" }) *@

                        <a href="#" id="sbdropdowntoggle" class="list-group-item list-group-item-action bg-dark text-light">
                            Attendance
                            <i style="font-size: 12px; padding-left: 100px;" id="rotglyph" class="fa fa-chevron-down"></i>
                        </a>
                        <div id="sbdropdown" style="display: none;">
                            <a href="@Url.Action("Attendance", "Admin")" style="padding-left: 40px;background-color: #25292d !important;" class="list-group-item list-group-item-action bg-dark text-light">Mark Attendance</a>
                            <a href="@Url.Action("ViewAttendance", "Admin")" style="padding-left: 40px;background-color: #25292d !important;" class="list-group-item list-group-item-action bg-dark text-light">View Attendance</a>
                        </div>
                    </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
                <button class="btn btn-primary menubutton" style="background-color: #343A40; border-color: white; box-shadow: none;" id="menu-toggle"><i style="font-size: 20px;" class="fa fa-bars"></i></button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Settings
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Logout", "LogOff", "Home", new { area = "" }, new { @class = "dropdown-item" })

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->

    
@RenderSection("scripts", required: false)
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $("#sbdropdowntoggle").click(function () {
        $("#rotglyph").toggleClass("fa fa-chevron-up fa fa-chevron-down");
        $("#sbdropdown").slideToggle();
    });
    
</script>
</body>

</html>
